spring:
  datasource:
    url: jdbc:mysql://localhost:3306/forum-app
    username: root
    password: admin
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true